title: "CCOO Hábitat – Seguridad Privada"
subtitle: "Prosegur SYS SL – Santa Cruz de Tenerife"
description: "Noticias, comunicados, anuncios y campaña electoral del sindicato."

url: "https://drake-zerep.github.io"
baseurl: "/ccoovigprosegur"

theme: minimal-mistakes-jekyll

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-include-cache

markdown: kramdown
highlighter: rouge

collections:
  posts:
    output: true

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
      read_time: true
      comments: false
      share: true

sass:
  sass_dir: _sass
  style: compressed

include:
  - assets
